body {
    color: #080000;
    background-color: #015029;
}

.card {
    background-color: #080000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff; 
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3; 
}

#respuesta {
    color: aliceblue;
    margin-top: 20px;
    font-weight: bold;
}
